## 导入相关库

In [22]:
import os
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#from statsmodels.tsa.arima_model import ARIMA
from sklearn.metrics import mean_squared_error
import time
import statsmodels.api as sm
import pickle

### 1.使用 forward fill填补缺失值

In [23]:
ffill_df = pd.read_csv('Average_cost_of_fossil_fuels_for_electricity_generation_natural_gas_California_electric_power_(total)_monthly.csv');
ffill_df['填补缺失值后'] = ffill_df['value'].ffill()
ffill_df.head(20)

     Month  value  填补缺失值后
0   Dec-21   6.83    6.83
1   Nov-21   6.72    6.72
2   Oct-21   6.88    6.88
3   Sep-21   6.74    6.74
4   Aug-21   5.93    5.93
5   Jul-21   5.74    5.74
6   Jun-21   4.74    4.74
7   May-21    NaN    4.74
8   Apr-21   3.78    3.78
9   Mar-21   3.94    3.94
10  Feb-21   5.75    5.75
11  Jan-21   3.99    3.99
12  Dec-20   4.14    4.14
13  Nov-20   4.14    4.14
14  Oct-20   3.73    3.73
15  Sep-20   3.92    3.92
16  Aug-20   3.98    3.98
17  Jul-20   2.49    2.49
18  Jun-20    NaN    2.49
19  May-20   2.51    2.51

### 2.使用moving average填补缺失值

In [25]:
moving_average_df = pd.read_csv('Average_cost_of_fossil_fuels_for_electricity_generation_natural_gas_California_electric_power_(total)_monthly.csv');
moving_average_df['填补缺失值后'] = np.where(moving_average_df['value'].isnull(),
                             moving_average_df['value'].shift(1).rolling(3,min_periods=1).mean(),
                             moving_average_df['value'])
moving_average_df.head(20)

     Month  value    填补缺失值后
0   Dec-21   6.83  6.830000
1   Nov-21   6.72  6.720000
2   Oct-21   6.88  6.880000
3   Sep-21   6.74  6.740000
4   Aug-21   5.93  5.930000
5   Jul-21   5.74  5.740000
6   Jun-21   4.74  4.740000
7   May-21    NaN  5.470000
8   Apr-21   3.78  3.780000
9   Mar-21   3.94  3.940000
10  Feb-21   5.75  5.750000
11  Jan-21   3.99  3.990000
12  Dec-20   4.14  4.140000
13  Nov-20   4.14  4.140000
14  Oct-20   3.73  3.730000
15  Sep-20   3.92  3.920000
16  Aug-20   3.98  3.980000
17  Jul-20   2.49  2.490000
18  Jun-20    NaN  3.463333
19  May-20   2.51  2.510000

### 3. 使用interpolation填补缺失值

In [ ]:
linear_interpolation_df = pd.read_csv('Average_cost_of_fossil_fuels_for_electricity_generation_natural_gas_California_electric_power_(total)_monthly.csv');
linear_interpolation_df['填补缺失值后'] = linear_interpolation_df['value'].interpolate(method='linear')
linear_interpolation_df.head(20)

     Month  value  填补缺失值后
0   Dec-21   6.83    6.83
1   Nov-21   6.72    6.72
2   Oct-21   6.88    6.88
3   Sep-21   6.74    6.74
4   Aug-21   5.93    5.93
5   Jul-21   5.74    5.74
6   Jun-21   4.74    4.74
7   May-21    NaN    4.26
8   Apr-21   3.78    3.78
9   Mar-21   3.94    3.94
10  Feb-21   5.75    5.75
11  Jan-21   3.99    3.99
12  Dec-20   4.14    4.14
13  Nov-20   4.14    4.14
14  Oct-20   3.73    3.73
15  Sep-20   3.92    3.92
16  Aug-20   3.98    3.98
17  Jul-20   2.49    2.49
18  Jun-20    NaN    2.50
19  May-20   2.51    2.51

#